/* .clientAdd-container{
    width: 300px;
} */

.layui-form{
    width: 80%;
    margin-top: 30px;
    /* margin-left: -26px; */
}
.adress{
    width: 280px !important;
}
.layui-btn{
    position: absolute !important;
    left: 50% !important;
    width: 180px;
    margin-top: 30px;
    border-radius: 5px;
    height: 30px;
   line-height: 30px;
   transform: translateX(-50%);
}


/* .clientManageAdd-popup .layui-layer-title{
    background:#5c90d2 !important;
    color: white;
} */
.clientManageAdd-popup iframe{
    height: 400px!important;
}
