
.guidInfo-popup  .layui-input-block{
  margin-left: 130px !important;
}
.guidInfo-popup .layui-form{
    margin-top: 30px;
}
.guidInfo-popup .layui-form-label{
    width: 105px !important;
}

.guidInfo-popup .layui-form{
    width: 80%;
    margin-top: 30px;
    /* margin-left: -26px; */
}
.guidInfo-popup .layui-btn{
margin-top: 30px;
margin-left: 75px;
}