
/* .keyManege-container .layui-table tbody tr td{
    height: 40px;
    padding: 0px;
}
.keyManege-container .layui-table input{
    height: 30px;
    width: 150px;
    outline: none;
    border: none;
    padding-left: 20px;
} */